@import url(../common/common.css);
@import url(../common/button.css);
@import url(../common/input.css);
@import url(../common/table.css);
@import url(../common/message.css);
@import url(../common/gird.css);
@import url(../common/icon.css);
@import url(../common/loading.css);
@import url(../../assets/fonts/fontawesome-5.15.1/css/all.min.css);
@import url(../common/combobox.css);
@import url(../shared/navbar.css);
@import url(../shared/container.css);
@import url(../shared/header.css);
@import url(../shared/modal.css);

body {
  margin: 0;
  font-family: Notosans-Regular;
  font-size: 13px;
  box-sizing: border-box;
}
@font-face {
  font-family: "Notosans-Bold";
  src: url(../../assets/fonts/notosans-bold.3ede5aff.woff2);
}
@font-face {
  font-family: "Notosans-Italic";
  src: url(../../assets/fonts/notosans-italic.1c1aaac9.woff2);
}
@font-face {
  font-family: "Notosans-Semibold";
  src: url(../../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}

input[type="radio" i] {
  background-color: green !important;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}
