.m-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 600px;
    width: 900px;
    background-color: white;
    padding: 10px 0 0 30px;
    z-index: 130;
}
.m-dialog-header,
.m-dialog-title,
.input-group-lable{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}
.m-dialog-title{
   font-weight: bold;
   font-weight: 600;
}
.input-group-lable{
    position: relative;
    top: 1px;
    padding: 0 10px 0 15px;
}
.input-group-lable input{
    margin-right: 10px;
    transform: scale(1.5);
    outline: none;
    border: none;
}

.m-dialog-close{
    position: relative;
    top: -10px;
    padding-right: 17px;
}
.m-btn-question i,
.m-btn-close i{
    font-size: 26px;
    color: rgb(121, 121, 121);
}


/**Form*/
form{
    width: 865px;
}
.form-info{
    display: flex;
}
.form-info-left{
    margin-right: 15px;
}
.form-group-row{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
}
.form-group span{
    color: red;
}
.form-group label{
    display: block;
    margin: 5px 0;
}
.form-group .lbgender{
    position: relative;
    top: -7px;
}
.group-radio{
    display: flex;
    justify-items: center;
    align-items: center;
}
.group-radio-item{
    display: flex;
    margin-right: 15px;
}
.group-radio-item input{
    margin-right: 10px;
}
.form-group-row .s-combobox-input{
    width: 360px !important;
    height: 30px;
}
.form-group-row .s-combobox-buton{
    border-left: none;
}
.form-group-row .s-combobox-input:focus + .s-combobox-buton{
    border-left: none !important;
}
.form-group-row .s-combobox-data{
    top: 110% !important;
}
.form-info-right{
    float: right;
}
.m-dialog-footer{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(223, 223, 223);
    padding-top: 20px;
}
/* DIALOG BACKGROUND */
.dialog-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(131, 131, 131, 0.5);
    z-index: 120;
  }
  