.m-navbar{
    width: 178px;
    height: 100vh;
    float: left;
    background-color: rgb(57, 58, 62);
}

.m-navbar .m-logo-site{
    height: 45px;
    line-height: 45px;
    margin-left: 20px;
}
.m-navbar .m-logo-box{
    display: flex;
    align-items: center;
}
.m-logo-box .m-toggle-icon i{
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

.m-logo-box .m-amis-logo{
    width: 95px;
    height: 40px;
    background-image: url('../../assets/img/Logo_Module_TiengViet_White.66947422.svg');
    background-repeat: no-repeat;
    background-size: 95px 40px;

}

/* code phần ul li */
.m-navbar-content{
    margin-top: 10px;
}
.m-navbar-content .m-nav-item{
    padding: 0px 14px 0px 12px;
    line-height: 42px;
    line-height: 42px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.m-nav-item .m-nav-item-icon{
    margin-right: 10px;
    font-size: 14px;
    color: rgb(170, 167, 167);
}
.m-nav-item .m-nav-item-text a{
    font-size: 13px;
    text-decoration: none;
    color: white;
}
.m-nav-item:hover{
    background-color: rgb(86, 87, 88);
}