button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: unset;
}
.m-form-btn{
    border: 1px solid rgb(143, 143, 143);
    padding: 10px;
    border-radius: 2px;
    min-width: 70px;
}
.m-btn-save{
    margin-left: 5px;
    background-color: rgb(44, 159, 28);
    color: white;
}
.m-btn{
    height: 30px;
    border-radius: 4px;
    border:none;
    background-color: rgb(41, 162, 25);
    color: white;
    cursor: pointer;
    padding-left: 15px;
}
.m-btn:hover{
    background-color: rgb(47, 190, 28);
}
.m-button-refresh{
    border: none;
    outline: none;
    height: 24px;
    background-color: white;
    cursor: pointer;
    padding-left: 15px;
    line-height: 30px;
}
.m-button-refresh i{
    color: rgb(192, 191, 189);
    font-size: 16px;
}
.m-btn-icon{
    position: relative;
    top: -1px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: unset;
    border: 1px solid white;
}
.m-btn-icon:focus{
    border: 1px solid rgb(46, 123, 179);
}
.m-btn-icon i{
    font-size: 16px;
    position: relative;
    top: -1px;
    color: rgb(46, 123, 179);
}
.m-btn-default{
    min-width: 70px;
    border: 1px solid rgb(198, 199, 203);
    padding: 10px;
    border-radius: 3px;
}
.btn-delete{
    min-width: 70px;
    border: 1px solid rgb(198, 199, 203);
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(44, 160, 28);
    color:#fff;
}