.m-text-center {
  text-align: center;
}
.w50 {
  width: 50px;
  min-width: 50px;
}
.w100 {
  width: 100px;
  min-width: 100px;
}
.w140 {
  width: 140px;
  min-width: 140px;
}
.w130 {
  width: 130px;
  min-width: 130px;
}
.w150 {
  width: 150px;
  min-width: 150px;
}
.w200 {
  width: 200px;
  min-width: 200px;
}
