.m-icon-burger {
  background-position: -843px -30px;
  margin: 0 10px;
  cursor: pointer;
  align-self: center;
}
.icon-24 {
  height: 24px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.m-icon {
  background-image: url("./../../assets/img/Sprites.64af8f61.svg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}
