.m-icon {
  background-image: url("./../../assets/img/Sprites.64af8f61.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon-32 {
  height: 32px;
  width: 32px;
  min-width: 32px;
  min-height: 32px;
}

.icon-24 {
  height: 24px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: 8px;
}

.icon-16 {
  height: 16px;
  width: 16px;
  min-width: 16px;
  min-height: 16px;
}

.icon-14 {
  height: 14px;
  width: 14px;
  min-width: 14px;
  min-height: 14px;
}

.icon-48 {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
}

.m-icon-exclaimation-warning {
  background-position: -592px -456px;
}

.m-icon-help {
  background-position: -88px -144px;
}

.m-icon-close {
  background-position: -145px -144px;
}

.m-icon-arrow-up--blue {
  background-position: -896px -359px;
}

.m-icon-9dots {
  background-position: -425px -86px;
}

.m-icon-search {
  background-position: -992px -360px;
}

.m-icon-refresh {
  background-position: -423px -201px;
}

.m-icon-refresh:hover {
  background-position: -1097px -88px;
}
.m-icon-export-excel {
  background-position: -704px -200px;
}
.m-icon-export-excel:hover {
  background-position: -704px -256px;
}
/* COMBOBOX ICONS */

.m-icon-arrow-down {
  background-position: -560px -359px;
}

/* HEADER ICONS */

.m-icon-burger {
  background-position: -843px -30px;
  /* x + 1,  y - 2*/
}

.m-icon-chervon-right {
  background-position: -80px -360px;
}

.m-icon-bell {
  background-position: -788px -30px;
}

.m-icon-avatar {
  background-position: -352px -894px;
}

.m-icon-chervon-down {
  background-position: -1076px -32px;
}

/* NAVBAR ICONS */

.m-icon-dashboard {
  background-position: -30px -1628px;
}

.m-navbar-item.active .m-icon-dashboard {
  background-position: -30px -1585px;
}

.m-icon-cash {
  background-position: -73px -1628px;
}

.m-navbar-item.active .m-icon-cash {
  background-position: -73px -1585px;
}

.m-icon-bank {
  background-position: -117px -1628px;
}

.m-navbar-item.active .m-icon-bank {
  background-position: -117px -1585px;
}

.m-icon-bag {
  background-position: -161px -1628px;
}

.m-navbar-item.active .m-icon-bag {
  background-position: -161px -1585px;
}

.m-icon-cart {
  background-position: -204px -1628px;
}

.m-navbar-item.active .m-icon-cart {
  background-position: -204px -1585px;
}

.m-icon-invoice {
  background-position: -249px -1628px;
}

.m-navbar-item.active .m-icon-invoice {
  background-position: -249px -1585px;
}

.m-icon-warehouse {
  background-position: -291px -1628px;
}

.m-navbar-item.active .m-icon-warehouse {
  background-position: -291px -1585px;
}

.m-icon-tools {
  background-position: -336px -1628px;
}

.m-navbar-item.active .m-icon-tools {
  background-position: -336px -1585px;
}

.m-icon-fixed-assets {
  background-position: -378px -1630px;
}

.m-navbar-item.active .m-icon-fixed-assets {
  background-position: -378px -1587px;
}

.m-icon-tax {
  background-position: -423px -1630px;
}

.m-navbar-item.active .m-icon-tax {
  background-position: -423px -1587px;
}

.m-icon-price {
  background-position: -467px -1628px;
}

.m-navbar-item.active .m-icon-price {
  background-position: -467px -1585px;
}

.m-icon-general {
  background-position: -510px -1628px;
}

.m-navbar-item.active .m-icon-general {
  background-position: -510px -1585px;
}

.m-icon-budget {
  background-position: -378px -1659px;
}

.m-navbar-item.active .m-icon-budget {
  background-position: -422px -1659px;
}

.m-icon-report {
  background-position: -547px -1628px;
}

.m-navbar-item.active .m-icon-report {
  background-position: -547px -1585px;
}

.m-icon-finance {
  background-position: -204px -1664px;
}

.m-navbar-item.active .m-icon-finance {
  background-position: -249px -1664px;
}
