input {
  color: #666666;
}
input:focus {
  border: 1px solid #019160;
}
input::placeholder {
  color: rgb(167, 167, 167);
  font-style: italic;
  font-size: 12px;
}
.m-content-input-search {
  display: flex;
  justify-items: center;
  align-items: center;
}
.m-input-error {
  border: 1px solid red !important;
}
.m-input-search {
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 25px;
  border: 1px solid rgb(196, 193, 193);
  height: 24px;
  position: relative;
}
.m-input-search:focus {
  border: 1px solid rgb(67, 141, 56);
}
.m-content-input-search i {
  font-size: 16px;
  padding-right: 5px;
  color: #e0dbdb;
  position: absolute;
  right: 65px;
}
.m-input-focus {
  border: 1px solid rgb(67, 141, 56);
}
.m-input {
  height: 31px;
  border: none;
  outline: none;
  border: 1px solid rgb(190, 190, 190);
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
}
.m-input-employeecode {
  width: 150px;
}
.m-input-fullname {
  width: 246px;
}
input[type="date"] {
  height: 33px;
  width: 160px;
}
input[type="radio"] {
}
.m-input-card {
  width: 200px;
}
.m-input-position,
.w420 {
  width: 420px;
}
.m-input-issued-by {
  width: 381px;
}
.m-input-address {
  width: 840px;
}
.m-input-info {
  width: 200px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #bbbbbb;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  margin-right: 2px;
  margin-bottom: 2px;
  width: 4px;
  height: 10px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: none;
}

input[type="checkbox"]:checked {
  transform: rotate(90deg);
}

input[type="checkbox"]:checked::before {
  border-color: #2ca01c;
  display: block;
  transform: rotate(-45deg);
}
input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
}

input[type="radio"]:checked {
  border-color: #2ca01c;
}

input[type="radio"]:checked::before {
  content: "";
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #2ca01c;
}
