.message {
}
.message-content {
  width: 400px;
  height: 170px;
  background-color: white;
  padding: 43px 30px 0px 40px;
  z-index: 130;
  position: absolute;
  border-radius: 4px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message-header {
  padding-bottom: 36px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.header-warning i {
  color: rgb(252, 225, 0);
  font-size: 30px;
  margin-right: 24px;
}
.btn-group {
  display: flex;
  padding-top: 30px;
  padding-bottom: 35px;
  border-top: 1px solid rgb(184, 188, 195);
  justify-content: space-between;
}
